* {
    color: rgba(255,255,255,1);
    font-family: FiraCode Nerd Font Propo;
    font-size: 15px;
    margin: 0 0px;
    padding: 0 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    border-top: 3px solid rgba(255,255,255,1);
}

#workspaces {
    background-color: rgba(0,0,0,1);
    padding: 0 5px;
    padding-right: 0px;
    border: 3px solid rgba(255,255,255,1);
    border-top: none;
    border-left:none;
    border-radius: 0px 0px 5px 0px;
}

#workspaces button{
    color: rgba(255,255,255,1);
    margin-right: 5px;
}

#workspaces button:hover {
    background: rgba(0,0,0,1);
    color: rgba(63,63,63,1);
}

#clock {
    background-color: rgba(0,0,0,1);
    padding: 0 10px;
    border: 3px solid rgba(255,255,255,1);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

#tray {
    background-color:rgba(0,0,0,1);
    padding: 0 10px;
    border-right: 3px solid rgba(255,255,255,1);
    border-top: none;
}

.modules-right {
    border: 3px solid rgba(255,255,255,1);
    border-top: none;
    border-right: none;
    border-radius: 0px 0px 0px 5px;
}

#wireplumber{
    background-color:rgba(0,0,0,1);
    padding: 0 10px;
    border-right: 3px solid rgba(255,255,255,1);
}

#bluetooth {
    background-color:rgba(0,0,0,1);
    padding: 0 10px;
    border-right: 3px solid rgba(255,255,255,1);
}

#bluetooth.off {
    color: rgba(255, 50, 50, 1);
}

#network {
    background-color:rgba(0,0,0,1);
    padding: 0 10px;
    border-right: 3px solid rgba(255,255,255,1);
}

#network.disconnected {
    color: rgba(255, 50, 50, 1);
}

#battery {
    background-color:rgba(0,0,0,1);
    padding: 0 10px;
}

#battery.warning {
    color: rgba(255, 192, 103, 1);
}

#battery.critical {
    color: rgba(255, 50, 50, 1);
}

#battery.charging, #battery.plugged {
    color: rgba(50, 255, 50, 1);
}

#wireplumber.muted {
    color: rgba(255, 50, 50, 1);
}